* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: beige;
  height: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 10px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list-item {
  margin-right: 1rem;
}
